<section class="action-wrapper">
    <button mat-icon-button aria-label="First Element">
        <mat-icon aria-hidden="false" aria-label="First Element icon">first_page</mat-icon>
    </button>
</section>
<section class="action-wrapper">
    <button mat-icon-button aria-label="First Element">
        <mat-icon aria-hidden="false" aria-label="First Element icon">skip_previous</mat-icon>
    </button>
</section>
<section class="action-wrapper">
    <button mat-icon-button aria-label="First Element">
        <mat-icon aria-hidden="false" aria-label="First Element icon">pause</mat-icon>
    </button>
</section>
<section class="action-wrapper">
    <button mat-icon-button aria-label="First Element">
        <mat-icon aria-hidden="false" aria-label="First Element icon">play_arrow</mat-icon>
    </button>
</section>
<section class="action-wrapper">
    <button mat-icon-button aria-label="First Element">
        <mat-icon aria-hidden="false" aria-label="First Element icon">skip_next</mat-icon>
    </button>
</section>
<section class="action-wrapper">
    <button mat-icon-button aria-label="First Element">
        <mat-icon aria-hidden="false" aria-label="First Element icon">last_page</mat-icon>
    </button>
</section>